body{
    background-color: beige;
    text-align: center;
  
}
img{
    width: 400px;
    height: 200px;
    object-fit: contain;
}
.btn{
 display: flex;
 justify-content: center;
 gap: 25px;
}
.header{
    text-align: center;
    margin-top:50px ;
    margin-bottom: 20px;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}
.player{
    display: flex;
    justify-content: center;
    gap: 100px;

}
.game{
    display: flex;
    align-items: center;
justify-content: center;
gap: 100px;
    margin-top: 10px;
}